
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc;
    color: #333;
}


header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


main {
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

.applicant-container {
    width: 90%;
    max-width: 1200px;
}


.applicant-container div {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.applicant-container div:hover {
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2);
    transform: translateY(-5px);
}

.applicant-container p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #555;
}

.applicant-container p strong {
    color: #007BFF;
}


.btn {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}



